body {
	background-color: #e6ecf0;
}

.api-title{
	display: relative;
    text-align: center; 
    border-bottom: 1px solid grey;
}

.title-name{
	font-size: 2em;
    font-weight: 400;
}

.home-redirect{
	float: left;
	position: fixed;
	font-weight: 400;
	top: 150px;
	left: 10px;
	z-index: 99999;
}

.example-redirect{
	position: fixed;
	float: right;
	right: 10px;
	font-weight: 400;
	top: 150px;
	z-index: 99999;
}

a{
	text-decoration: none;
	color: #555555;
}

a:hover {
	text-decoration: underline;
	color: #6666FF;
}

a:active{
	color: red;
}

.api-version{
	font-size: 1.5em;
}

.slide-api-title{
    text-align: center;
}

.slide-api-title h2{
    font-weight: 400;
}

.property-list{
	margin-top: 30px;
	position: relative;
	padding-bottom: 30px;
}

table, td, th {
	margin:auto;
	text-align: center;
	border-collapse: collapse;
	border-bottom: 1px solid black;
	border-color: grey;
	padding-bottom: 5px;
}

td, th {
	min-width: 200px;
	height: 80px;
}

.description{
	text-align: left;
	width: 500px;
	height: 100px;
}

.slide-methods-title{
	text-align: center;
}

.method-list{
	margin-top: 30px;
	position: relative;
	padding-bottom: 30px;
}

.methods-name{
	width: 355px;
}

.parameters{
	width: 330px;
}
.methods-description{
	width: 630px;
	height: 100px;
}

.text-api-title{
    text-align: center;
}

.text-api-title h2{
    font-weight: 400;
}

.text-property-list{
	margin-top: 30px;
	position: relative;
	padding-bottom: 30px;
}

.text-methods-title{
	text-align: center;
}

.text-method-list{
	margin-top: 30px;
	position: relative;
	padding-bottom: 30px;
}

.footer{
	color: white;
	text-align: center;
	background-color: #444444;
	height: 70px;
	margin: 10px;
}

.code{
    background-color: #CCCCCC;
    padding: 2px 5px;
    font-size: 15px;
    font-weight: bold;
}