body {
	background-color: #e6ecf0;
}

.menu{
	position: relative;
	left: 1%;
	border-bottom: 1.5px solid grey;
}

.menu li{
	text-align: center;
	list-style-type: none;
}

body pre{
	margin-bottom: 50px;
	border-bottom: 2px solid #6666FF;
}

.title{
	text-align: center;
	position: relative;
	left: 3%;
	font-size: 3em;
    font-weight: 400;
}

.slide-title{
	text-align: center;
	position: relative;
	left: 41%;
	font-size: 2em;
    font-weight: 400;
    width: 360px;
}

.ex1-title{
	font-size: 1.5em;
	font-weight: 400;
    text-align: center;
	position: relative;
	left: 41%;
    width: 360px;
}

.ex1-subtitle{
	font-size: 1em;
    margin-top: -10px;
    text-align: center;
	position: relative;
	left: 36%;
	width: 520px;
}

.by-developer {
	text-align: center;
}

.by-developer ul {
	position: absolute;
	display: inline-block;
	float: left;
	top: 625px;
	left: 42%;
}

.by-developer ul li{
	font-family: Aerial;
	font-weight: 600;
	font-size: 1.5em;
	float: left;
	list-style-type: none;
	margin-left: 30px;
}

.ex1-js{
	position: relative;
	text-align: left;
	width: 45%;
	left: 30%;
	top: 310px;
}

.ex1-html{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 30%;
	top: 310px;
}

.ex1-css{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 30%;
	top: 310px;
}

a{
	text-decoration: none;
	color: #555555;
}

a:hover {
	text-decoration: underline;
}

a:active{
	color: red;
}

.slide-default-reset-button{
	float: left;
	position: absolute;
	left: 42%;
	top: 590px;
	width: 320px;
	height: 30px;
}

.canvas1{
	position: absolute;
	display: block;
	border: 1px solid black;
	left: 42%;
	margin-top: 10px;
}

.jigsaw1{
	position: absolute;
	display: block;
	left: 42%;
	border: 1px solid black;
	margin-top: 10px;
}

.canvas2{
	position: absolute;
	border: 1px solid black;
	display: block;
	left: 42%;
}

.jigsaw2{
	position: absolute;
	display: block;
	border: 1px solid black;
	left: 42%;
}

.by-user{
	top: 310px;
	display: block;
	position: relative;
}

.ex2-title{
	font-size: 1.5em;
	font-weight: 400;
    text-align: center;
	position: relative;
	left: 41%;
	width: 360px;
}

.ex2-subtitle{
	font-size: 1em;
    margin-top: -10px;
    text-align: center;
	position: relative;
	left: 36%;
	width: 520px;
}

.by-user ul {
	position: absolute;
	display: inline-block;
	float: left;

	top: 420px;
	left: 42%;
}

.by-user ul li{
	font-family: Aerial;
	font-weight: 600;
	font-size: 1.5em;
	float: left;
	list-style-type: none;
	margin-left: 30px;
	color: #333333;
}

.ex2-js{
	position: relative;
	text-align: left;
	width: 45%;
	left: 30%;
	top: 370px;
}

.ex2-html{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 30%;
	top: 370px;
}

.ex2-css{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 30%;
	top: 370px;
}

.upload-box{
	position: absolute;
	top: 310px;
	left: 42%;
	width: 320px;
	border: 1px solid black;
	height: 25px;
}

.upload-button{
	position: absolute;
	top: 345px;
	left: 42%;
	width: 320px;
	height: 30px;
}

.slide-customize-reset-button{
	position: absolute;
	width: 320px;
	left: 42%;
	top: 380px;
	height: 30px;
}

.imgs{
	display: none;
}

.text{
	top: 655px;
	display: block;
	position: relative;
	text-align: left;
}

.ex3-title{
	font-size: 1.5em;
	font-weight: 400;
    text-align: center;
	position: relative;
	left: 42%;
	width: 360px;
}

.text ul {
	position: absolute;
	display: inline-block;
	float: left;
	top: 330px;
	left: 43%;
}

.text ul li{
	font-family: Aerial;
	font-weight: 600;
	font-size: 1.5em;
	float: left;
	list-style-type: none;
	margin-left: 30px;
	color: #333333;
}

.ex3-js{
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 330px;
}

.ex3-html{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 320px;
}

.ex3-css{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 320px;
}

.canvas3{
	display: block;
	position: absolute;
	left: 42%;
	border: 1px solid black;
}

.text1-input{
	position: absolute;
	left: 42%;
	top: 220px;
	width: 352px;
	height: 30px;
}

.text1-verify-button{
	position: absolute;
	left: 42%;
	top: 260px;
	width: 360px;
	height: 30px;
}

.text1-reset-button{
	position: absolute;
	left: 42%;
	top: 295px;
	width: 360px;
	height: 30px;
}

.text-aniamtion{
	top: 970px;
	display: block;
	position: relative;
	text-align: center;
}

.ex4-title{
	font-size: 1.5em;
	font-weight: 400;
    text-align: center;
	position: relative;
	left: 37%;
	width: 520px;
}

.text-aniamtion ul {
	position: absolute;
	display: inline-block;
	float: left;
	top: 330px;
	left: 43%;
}

.text-aniamtion ul li{
	font-family: Aerial;
	font-weight: 600;
	font-size: 1.5em;
	float: left;
	list-style-type: none;
	margin-left: 30px;
	color: #333333;
}

.ex4-js{
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 325px;
}

.ex4-html{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 325px;
}

.ex4-css{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 325px;
}

.canvas4{
	display: block;
	position: absolute;
	left: 42%;
	border: 1px solid black;
}

.canvasA{
	display: block;
	position: absolute;
	left: 42%;
	border: 1px solid black;
}

.text2-input{
	position: absolute;
	left: 42%;
	top: 220px;
	width: 352px;
	height: 30px;
}

.text2-verify-button{
	position: absolute;
	left: 42%;
	top: 260px;
	width: 360px;
	height: 30px;
}

.text2-reset-button{
	position: absolute;
	left: 42%;
	top: 295px;
	width: 360px;
	height: 30px;
}

.text-customize{
	top: 1270px;
	display: block;
	position: relative;
	text-align: center;
}

.ex5-title{
	font-size: 1.5em;
	font-weight: 400;
    text-align: center;
	position: relative;
	left: 33.5%;
	width: 600px;
}

.options{
	position: absolute;
	float: left;
	left: 41.5%;
	display: block;
	width: 390px;
}

.options select{
	width: 280px;
	height: 30px;
	margin-bottom: 5px;
}

.options input{
	width: 270px;
	height: 30px;
	margin-bottom: 5px;
}

.text3-apply-button{
	width: 280px;
	height: 30px;
}

.text3-input{
	position: absolute;
	left: 42%;
	top: 460px;
	width: 352px;
	height: 30px;
}

.text3-verify-button{
	position: absolute;
	left: 42%;
	top: 500px;
	width: 360px;
	height: 30px;
}

.text3-reset-button{
	position: absolute;
	left: 42%;
	top: 535px;
	width: 360px;
	height: 30px;
	margin-bottom: 50px;
}

.canvas5{
	display: block;
	position: absolute;
	left: 42%;
	border: 1px solid black;
	top: 300px;
}

.text-customize ul {
	position: absolute;
	display: inline-block;
	float: left;
	top: 570px;
	left: 43%;
}

.text-customize ul li{
	font-family: Aerial;
	font-weight: 600;
	font-size: 1.5em;
	float: left;
	list-style-type: none;
	margin-left: 30px;
	color: #333333;
}

.ex5-js{
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 570px;
}

.ex5-html{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 570px;
}

.ex5-css{
	display: none;
	position: relative;
	text-align: left;
	width: 45%;
	left: 31%;
	top: 570px;
}

.footer{
	position: relative;
	color: #444444;
	text-align: center;
	background-color: #DDDDDD;
	height: 70px;
	margin: 10px;
	top: 530px;
}
