.canvas1{
	display: block;
}

.part1{
	position: relative;
	display: block;
	top: -200px;
	border: 1px solid black;
}

.canvas2{
	display: block;
}

.part2{
	position: relative;
	display: block;
	top: -200px;
}

.by-user{
	top: 200px;
	display: block;
	position: relative;
}

.h4{
	top: -200px;
	position: relative;
}

.imgs{
	display: none;
}

.canvasA{
	position: relative;
	left: -302px;
}